<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th></th>
      <th>İsim</th>
      <th>Fiyat</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of getProducts()">
      <td>
        <img src="/assets/img/{{p.imageUrl}}" alt="" width="50">
      </td>
      <td>{{p.name}}</td>
      <td>{{p.price}} TL</td>
      <td>
        <button class="btn btn-warning btn-sm" [routerLink]="['/admin/main/products/edit', p.id]">Edit</button>
        <button class="btn btn-danger btn-sm ml-3" (click)="deleteProduct(p)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <button class="btn btn-outline-primary mb-3" style="width: 100%;" routerLink="/admin/main/products/create">Ürün Ekle</button>
  </div>
  <div class="col-md-2"></div>
</div>

