 <!-- <div class="row border m-0 p-3 mb-4 text-secondary" *ngIf="selectedProduct">
    <div class="col-md-2">
      <img src="/assets/img/{{selectedProduct.imageUrl}}"
      alt="{{selectedProduct.name}}"
      class="card-img-top img-fluid">
    </div>
    <div class="col-md-10">
      <h3 class="card-title" style="font-size:large;">
          {{selectedProduct.name}}
      </h3>
      <p class="card-text">
          {{selectedProduct.description}}
      </p>
      <button (click)="hideDetails()" class="btn btn-danger btn-sm">Seçimi iptal et.</button>
      <button (click)="addProductToCart(selectedProduct)"
      class="btn btn-success btn-sm ml-3">Ürünü
      Sepete Ekle</button>
    </div>
</div>




<div class="row">
  <div class="col-md-4"
    *ngFor="let p of products">
    <ng-container>

      <div class="mb-4">
        <div class="card h-100">
          <img src="/assets/img/{{p.imageUrl}}"
            alt="{{p.name}}"
            class="card-img-top img-fluid">
          <div class="card-body text-center">
            <h4 class="card-title">
              <a href="">{{p.name}}</a>
            </h4>
            <small class="text-muted">
              <i
                class="fas fa-lira-sign"></i>{{p.price}}
            </small>
          </div>
          <div class="card-footer text-center">
            <button
              (click)="displayDetails(p)"
              class="btn btn-outline-primary btn-sm">Detaylar</button>
            <button (click)="addProductToCart(p)"
              class="btn btn-outline-primary btn-sm ml-3">Ürünü
              Sepete Ekle</button>
          </div>
        </div>
      </div>
    </ng-container>

  </div> -->


  <div class="row border m-0 p-3 mb-4 text-secondary" *ngIf="selectedProduct">
    <div class="col-md-2">
      <img src="/assets/img/{{selectedProduct.imageUrl}}" alt="{{selectedProduct.name}}" class="card-img-top img-fluid">
    </div>
    <div class="col-md-10">
      <h3 class="card-title" style="font-size: large;">
        {{selectedProduct.name}}
      </h3>
      <p class="card-text">
        {{selectedProduct.description}}
      </p>
      <div class="d-flex">
        <button (click)="hideDetails()" class="btn btn-danger btn-sm">Seçimi iptal et.</button>
        <button (click)="addProductToCart(selectedProduct)" class="btn btn-success btn-sm ml-3">Ürünü Sepete Ekle</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let p of products">
      <section class="product">
        <div class="product__photo">
          <div class="photo-container">
            <div class="photo-main">
              <div class="controls">
                <i class="material-icons float-right">share</i>
                <i class="material-icons">favorite_border</i>
              </div>
              <img src="/assets/img/{{p.imageUrl}}" alt="{{p.name}}" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="product__info">
          <div class="title">
            <a href="" style="text-decoration: none; color: rgb(66, 15, 15);">{{p.name}}</a>
          </div>
          <div class="price">
            <small class="text-muted">
              <p style="font-weight: bolder; font-size: medium;">{{p.price}} TL</p>
            </small>
          </div>
          <div class="description">
            <p class="card-text" style="font-size: small; font-weight: bolder;">
              {{p.description}}
            </p>
          </div>
          <div class="d-flex justify-content-between">
            <button (click)="displayDetails(p)" class="buy--btn btn-sm">Detaylar</button>
            <button (click)="addProductToCart(p)" class="buy--btn">Sepete Ekle</button>
          </div>
        </div>
      </section>
    </div>
  </div>




