<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a routerLink="/shop" class="navbar-item" >
      ÇAĞLAR SHOP
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="/shop" class="navbar-item">
        Ana Sayfa
      </a>
      <a class="navbar-item">
        Ürünler
      </a>
      <a routerLink="/cart" class="navbar-item">
        Sepetim
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Aışveriş
        </a>
        <div class="navbar-dropdown">

          <a class="navbar-item">
            Ürün ekle
          </a>
          <a class="navbar-item">
            Admin ürünleri
          </a>
          <a class="navbar-item">
            Kategori ekle
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Kategoriler
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Üye ol</strong>
          </a>
          <a class="button is-light">
            Giriş
          </a>
          <a class="button is-danger btn-sm">
            <i class="fa-solid fa-right-from-bracket"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


