<head>
  <style>
    .card-title a {
  text-decoration: none;
  color: inherit;
}

.card {
  height: 100%;
}

.card-img-top {
  display: block;
  margin: 0 auto;
}
  </style>
</head>

<app-navbar></app-navbar>

<div class="container pt-50 mb-5">
  <div class="row">
      <div class="col-3">

        <app-card-summary></app-card-summary>

        <app-category-list (category)="getCategory($event)"></app-category-list>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-warning">
              <div class="form-inline  m-0 p-0">

              </div>
             Stoklarımızda {{selectedProducts.length}} adet ürün bulunmaktadır.
             <select class="form-control-sm" style="float:right;"
             [value]="productsPerPage"
             #selectElement (change)="changePageSize(parseNumber(selectElement.value))">
               <option value="2">2 adet</option>
               <option value="3">3 adet</option>
               <option value="4">4 adet</option>
               <option value="5">5 adet</option>
               <option value="10">10 adet</option>
               <option value="15">15 adet</option>
             </select>
            </div>

          </div>
          </div>


          <app-product-list [products]="products"></app-product-list>
          <div class="row mt-4">
              <div class="col">
                  <div class="btn-group">
                      <button (click)="changePage(page)"
                      *ngFor="let page of pageNumbers"
                      class="btn btn-outline-secondary"
                      [class.active]="page == selectedPage || (!selectedPage && page == 1)">
                        {{page}}
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
